<div class="row">
  <div {{bind-attr class=":signal-notification direction"}}>
    <div class="col-md-2 signal-direction">
      {{fa-icon signalArrow}}
    </div>
    <div class="col-md-2 signal-timestamp">
      {{timestamp}}
    </div>
    <div class="col-md-2 signal-ticker">
      {{ticker}}
    </div>
    <div class="col-md-4 signal-name">
      {{name}}
    </div>
    <div class="col-md-2 signal-price">
      {{price}}
    </div>
  </div>
</div>
