<div class="row">
    <div class="col-lg-2 signal-direction">
      {{direction}}
    </div>
    <div class="col-lg-2 signal-timestamp">
      {{timestamp}}
    </div>
    <div class="col-lg-2 signal-ticker">
      {{ticker}}
    </div>
    <div class="col-lg-4 signal-name">
      {{name}}
    </div>
    <div class="col-lg-2 signal-price">
      {{price}}
    </div>
</div>
